:root {
  box-sizing: border-box;
  --violet: #c4b5fd
}

* {
  margin: 0;
}

img {
  width: 25px;
}

img.medium {
  width: 50px;
}

img.large {
  width: 60px;
  height: 60px;
}

img.small {
  width: 45px;
  height: 45px;
}


/* body */

.wrapper {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 160px 1fr;
  height: 100vh;
  /* overflow: hidden; */
}

/* sidebar */

.sidebar-wrapper {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  background-color: var(--violet);
  box-shadow: 3px 0px 5px rgba(0, 0, 0, 0.2);
}

.sidebar {
  display: grid;
  height: 60%;
  grid-template-rows: repeat(auto-fit, 45px);
  padding: 10px 0 0 15px;
}

.sidebar-link, .sidebar-heading {
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
}

.sidebar-heading {
  grid-template-columns: 60px 1fr;
}

.sidebar-link {
  padding-left: 20px;
  cursor: pointer;
  transition: all 0.2;
}

.sidebar-link:hover {
  transform: translateY(-5%);
}

.sidebar-link.dumby {
  cursor: auto;
}


/* nav bar */

.nav {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 7.5rem;
  padding: 0px 40px 10px 25px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.search {
  grid-column:  1 / 2;
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-bar {
  flex: 1;
  line-height: 1.5rem;
  border-radius: 10px;
  padding-right: 1rem;
  resize: none;
  height: 1.5rem;
  background-color: rgba(200,200,200,0.2);
}


.user {
  grid-column: 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.welcome {
  grid-column: 1 / 2;
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 0.9rem;
  font-weight: 550;
}

.username {
  display: block;
  font-size: 1.5rem;
}

.interactive-btns {
  grid-column: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-btn {
  background-color: var(--violet);
  border-radius: 15px;
  border: none;
  width: 5rem;
  height: 2.25rem;
  cursor: pointer;
  font-weight: 550;
  transition: all 0.1s ease-out;
}

.nav-btn:hover {
  transform: scale(1.1);
}

/* main content */

.content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: rgba(200,200,200,0.2);
  padding: 25px 25px 40px 25px;
  gap: 25px;
}

.content h3 {
  margin-left: 10px;
}

/* projects */

.project-content {
  grid-row: 1 / 3;
}

.project-grid {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.project {
  background: linear-gradient(to right, #4f46e5 2.5%, #ffffff 2.5%);
  border-radius: 5px;
  padding: 25px 20px 25px 25px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-rows: 2fr 1fr;
  position: relative;
  z-index: 1;
  transition: margin-right 0.5s ease-in-out;
}

.project::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: -1;
  background: var(--violet);
  transform: scaleX(0);
  transition: all 0.5s ease-in-out;
  transform-origin: left;
}

.project:hover::before {
  transform: scaleX(1);
}

.content-preview {
  grid-row: 1 / 2;
  font-size: 0.9rem;
}

.content-preview h5 {
  font-size: 1.1rem;
  margin-bottom: 5px;
}

.reaction-btns {
  grid-row: 2 / 3;
  align-self: end;
  justify-self: end;
  display: flex;
  gap: 20px;
}

/* accouncements */

.announcements {
  grid-column: 2 / 3;
}

.announcement-grid {
  display: grid;
  background-color: white;
  grid-template-rows: repeat(3, 1fr);
  margin-top: 15px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.announcement {
  position: relative;
  background-color: white;
  cursor: pointer;
  z-index: 1;
  padding: 15px 20px;
}

.announcement::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  transform: scaleY(0);
  transform-origin: top;
  background: var(--violet);
  transition: all 0.25s ease-in-out;
}

.announcement:hover::before {
  transform: scaleY(1);
}

.announcement p {
  margin-top: 2px;
  font-size: 0.8rem;
  font-weight: 5;
}

.announcement-border {
  position: absolute;
  width: 75%;
  height: 1px;
  bottom: 0;
  background-color: lightgrey;
}

/* trending */

.trending {
  grid-row: 2 / 3;
}

.trending-grid {
  margin-top: 15px;
  display: grid;
  width: 100%;
  grid-template-rows: repeat(auto-fit, minmax(50px, 1fr));
  gap: 10px;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  padding: 13px 0px;
}

.trend {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trend img {
  margin: 0 5px 0 15px;
}

.trend-info {
  display: block;
  padding-top: 3px;
  font-weight: 400;
  font-size: 0.8rem;
  opacity: 0.8;
}

.trend h6 {
  font-size: 0.8rem;
  font-weight: 500;
  display: inline-block;
}


